@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

#pesquisa-container.activeSearch {
  display: flex;


}

#btn-search.activeSearch {
  display: none;
}

#pesquisa-container {


  min-width: 60px;
  height: 25px;

  display: none;
  flex-direction: row;
  align-items: center;

  background-color: #202020;

  border-radius: 10px 10px;

  animation: 0.3s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;

}

#pesquisa-container span {
  cursor: pointer;
  padding: 0px 8px;
  height: 25px;

}

#pesquisa-container span svg {

  height: 25px;
}

#pesquisa-container input {
  border-radius: 10px 10px;
  border: 1px solid #ccc;
  background: #202020;
  border: none;
  width: 80%;
  height: 20px;
  box-sizing: border-box;
  color: #fff;
  padding: 5px 5px;

  outline: none;
}