@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./Components/Layout/Fonts/EM-Gilroy/Gilroy-ExtraBold.ttf) format('truetype');

}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(./Components/Layout/Fonts/EM-Gilroy/Gilroy-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./Components/Layout/Fonts/EM-Gilroy/Gilroy-Medium.ttf) format('truetype');

}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(./Components/Layout/Fonts/EM-Gilroy/Gilroy-SemiBold.ttf) format('truetype');

}



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    width: 100%;
    height: auto;
}

#root{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}
